
<div class="card card-side bg-base-100 shadow-xl my-5 sm:w-2/3">
  <figure><img class="w-48" src="/images/basket.jpg" alt="Movie"/></figure>
  <div class="card-body">
    <h2 class="card-title">Lets see what you've got...</h2>

    <table class="table">
        <thead>
          <tr>
            <th>Qty</th>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
            <% if (cart) { cart.forEach((i) => { %>
          <tr><td>1</td><td><%= i.product.heading %></td></tr>
          <% }) } else { %>
            <p>Nothing</p>
          <% } %>
        </tbody>
      </table>

      <div class="card-actions justify-end">
        <%- include('command', {command: '/explore'}); %>
        <%- include('command', {command: '/checkout'}); %>
      </div>
    </div>
  </div>


