#page {
  margin: 0 auto;
  padding-bottom: 184px;
}

.border-color {
  /* sainsbury's theme color */
  /* border-color: #F06C00 !important; */

  border-color: #B8A081!important;
}

a {
  color: #00B7FF;
}

#scroller * {
  overflow-anchor: none;
}

#messages {
/*  overflow-anchor: auto; */
  overflow-anchor: auto;
}

.command-border {
  /* sainsbury's theme color */
  /* background-color: #F06C00 !important; 
  border-color: #F06C00 !important; */

  background-color: #B8A081!important; 
  border-color: #B8A081 !important;
}


/* sainsbury's theme color */
/* #FEF5F0 */
