body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00B7FF; */
  color: #F06C00;
}

#scroller * {
  overflow-anchor: none;
}

#messages {
/*  overflow-anchor: auto; */
  overflow-anchor: auto;
}
