<% if (typeof(full) =="undefined") { %>
  
<div  className="chat chat-end mr-3">
    <div className="bg-primary  chat-bubble">/help</div>
  </div>

  <div className="flex flex-row flex-wrap gap-5 ml-5 px-10 mt-5">
    <div className="card card-side bg-base-100 shadow-xl">
      <figure><img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" alt="Movie"/></figure>
      <div className="card-body">

        <table className="table-fixed border-separate border-spacing-y-1.5 border-spacing-x-1">
          <thead>
            <tr>
              <th></th>
              <th className="text-left">shopping stuff</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><CommandHelp command="/explore" type={ChatMeType.nav} component={Explore}/></td><td>navigate all products we have to offer</td></tr>
            <tr><td><CommandHelp command="/sale" type={ChatMeType.nav} /></td><td>whats on sale</td></tr>
            <tr><td><CommandHelp command="/me" type={ChatMeType.nav}/></td><td>our personally shopper AI will look after you!</td></tr>
            <tr><td><CommandHelp command="/cart" type={ChatMeType.nav}/></td><td>see your shopping cart</td></tr>
            <tr><td><CommandHelp command="/saved" type={ChatMeType.nav}/></td><td>see your saved items</td></tr>
          </tbody>
          <thead>
            <tr>
              <th></th>
              <th className="text-left">account stuff</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><CommandHelp command="/orders" type={ChatMeType.nav}/></td><td>show all the products we have to offer</td></tr>
            <tr><td><CommandHelp command="/pay" type={ChatMeType.nav}/></td><td>see your payment methods</td></tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
<% } else { %>
  <div key="Help1" class="chat chat-start ">
    <div class="chat-image avatar">
    <div class="w-8 rounded-full">
        <img alt="Tailwind CSS chat bubble component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
    </div>

    <div class="chat-bubble chat-bubble-info">
    <div class="">Hi, Im Tom, your guide, type <%- include('command', {command: '/explore'}); %> or <%- include('command', {command: '/cart'});  %>  at any time. or... just chat to me, like normal, I can be very helpful
    </div>      
    </div>
</div>
<% } %>